.showcase__Con {
  background: $purple;
  position: relative;
  .schovanej {
    background: $purple;
    height: 100vh;
  }
  .imgShow__Col {
    height: 100vh;
    background: $purple;
    position: relative;

    @media (max-width: 1199.98px) {
      height: 100vh;
    }

    @media (min-width: 576.98px) and (max-width: 991.98px) {
      height: 70vh;
    }
    @media (max-width: 576px) {
      height: 45vh;
    }
    .circle__Bg {
      height: 80vh;
      width: 80vh;
      background: $bg__Img;
      border-radius: 75%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;

      .kafe {
        height: 80%;
      }
      .dort {
        height: 60%;
      }
      .zmrzka {
        height: 90%;
      }
      @media (min-width: 1199.98px) and (max-width: 1560px) {
        height: 40rem;
        width: 40rem;
      }
      @media (max-width: 1199.98px) {
        width: 35rem;
        height: 35rem;
        top: 50%;
        z-index: 5;
      }
      @media (min-width: 576.98px) and (max-width: 991.98px) {
        width: 30rem;
        height: 30rem;
        top: 40%;
        z-index: 5;
      }
      @media (max-width: 576px) {
        width: 20rem;
        height: 20rem;
        top: 33%;
        z-index: 5;
      }
      @media (max-width: 450px) {
        width: 15rem;
        height: 15rem;
        top: 20%;
        z-index: 5;
      }
    }
  }
  .textShow__Col {
    background: $purple;
    height: auto;
    padding: 0;

    .text__Box {
      height: max-content;
      padding: 5rem 2rem;
      background: $purple;

      h1 {
        z-index: 7;
        position: relative;
        color: #ffeaee;
      }
      h4 {
        margin-top: -1rem;
        color: #ffc0cb;
        z-index: 7;
        position: relative;
      }
      p {
        z-index: 7;
        position: relative;

        padding-bottom: 2rem;

        @media (max-width: 768px) {
          padding-bottom: 0.5rem;
        }

        @media (min-width: 1199.98px) and (max-width: 1560px) {
          font-size: 1.5rem;
        }
      }
      .btn__Vice {
        background: $btn__Bg;
        border-radius: 6.4vw;
        word-wrap: break-word;
        color: $purple;
        font-weight: 700;
        z-index: 2;
      }
    }
  }
}

//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP
//GSAP//GSAP//GSAP//GSAP

.start__ChangeColor {
  height: 0.1px;
  width: 0.5px;
  background: transparent;
  z-index: -100;
  bottom: 0;
  left: 0;
  position: absolute;
}
.prvniImg__Animace {
  height: 0.1px;
  width: 0.5px;
  background: transparent;
  z-index: -100;
  top: 0;
  left: 0;
  position: absolute;
}
.druhaImg__Animace {
  height: 0.1px;
  width: 0.5px;
  background: transparent;
  z-index: -100;
  top: 0;
  left: 0;
  position: absolute;
}
.tretiImg__Animace {
  height: 0.1px;
  width: 0.5px;
  background: transparent;
  z-index: -100;
  top: 0;
  left: 0;
  position: absolute;
}
